body {
	margin: 0 25%;
	width 960px;
	/*background-color: #DBEAF9;*/
}

pre {
	padding: 0;
	margin: 5px 0;
	text-align: center;
}

.dnd li {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
}

.blocklet {
	background-color: #EAEAEE;
	border: 1px solid #DADADE;
	border-top-color: #F0F0FE;
	cursor: move;
	margin: 5px 0;
	padding: 0 10px;
	list-style-type: none;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 

}

.column {
	background-color: #F7F7F7;
	border: 1px solid #EEE;
	clear: none;
	float: left;
	margin: 10px 5px;
	padding: 10px;
	width: 22%;
}

.columnsections li{
	list-style-type: none;
	padding: 3px;
	font-size: 114%;
	cursor: move;
}

